<h2><p>{{meet.purpose}}</p></h2>
<p>Created by: {{meet.creator}}</p>
<p>at {{meet.time_created}}</p>
<p>The meeting is {{meet.meet_time}}</p>
{% if to_invite %}
<p>Click to invite more people</p>
    <ul>
    {% for user in to_invite %}
        {% if  user != meet.creator %}
            
        <li>
            <a href='/meeting/{{meet.id}}/add/{{user.id}}'>{{ user.username }}</a>
            
        </li>
        {% endif %}
    {% endfor %}
    </ul>
{% endif %} 

{% if invited %}
<p>people already invited</p>
    <ul>
    {% for user1 in invited %}
        {% if  user1 != meet.creator %}
            
        <li>
            <p> {{user1.username}} </p>
            
        </li>
        {% endif %}
    {% endfor %}
    </ul>

{% endif %} 

<form method="POST" action="" >
    {% csrf_token %}
    {{ form.as_p}}
    <div>
        <button type="submit">Add comment</button>
    </div>
</form>
{% if comments %}
    <ul>
    {% for comment in comments %}
            
        <li>
                {{ comment.user }} - {{comment.Comment}}
        </li>
    {% endfor %}
    </ul>
{% endif %} 