<h2><p>{{meet.purpose}}</p></h2>
<p>Created by: {{meet.creator}}</p>
<p>at {{meet.time_created}}</p>
<p>The meeting is {{meet.meet_time}}</p>
{% if to_invite %}
<p>Click to invite more people</p>
    <ul>
    {% for user in to_invite %}
        {% if  user != meet.creator %}
            
        <li>
            <a href='/meeting/{{meet.id}}/add/{{user.id}}'>{{ user.username }}</a>
            
        </li>
        {% endif %}
    {% endfor %}
    </ul>
{% endif %} 

{% if invited %}
<p>people already invited</p>
    <ul>
    {% for user1 in invited %}
        {% if  user1 != meet.creator %}
            
        <li>
            <p> {{user1.username}} </p>
            
        </li>
        {% endif %}
    {% endfor %}
    </ul>

{% endif %} 

<!-- <form method="POST" action="" >
    {% csrf_token %}
    {{ form.as_p}}
    <div>
        <button type="submit">Add comment</button>
    </div>
</form>-->
<h3>Comments</h3>
{% if comments %}
    <ul>
    {% for comment in comments %}
            
        <li>
                {{ comment.user }} - {{comment.Comment}}
        </li>
    {% endfor %}
    </ul>
{% endif %}  



    <textarea id="chat-log" cols="100" rows="20"></textarea><br/>
    
        <input id="chat-message-input" type="text" size="100" name="com"/><br/>
        <input id="chat-message-submit" type="button" value="Send"/>
    
<script>
    var roomName = {{ room_name_json }};

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        document.querySelector('#chat-log').value += (message + '\n');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var user2="{{user.username}}"
        var message =user2+" - "+ messageInputDom.value;
        var to_send=JSON.stringify({'message': message})
        chatSocket.send(to_send );

        messageInputDom.value = '';
    };
</script>